<nav>
    <ul class="nav">
        {% for item in site.data.menu.groups %}
            {% if item.urls != nil %}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ item.title }}</a>
                    <div class="dropdown-content">
                        {% for entry in item.urls %}
                            <a href="{{ entry.url }}">{{ entry.page }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
   