body {
    padding:  0 10% 0 10%;
    background-color: #d7d6d6;
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}



article.content-wrapper {
    background-color: $background-color;
    padding: 30px;
}